/*record button stylings*/

@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto';

.record_btn {
    /*border-color: rgba(255,255,255,.17);*/
    margin: 1rem;
    width: 50vw;
    height: 50vw;
    font-family: 'Material Icons';
    font-size: 25vw;
    color: rgba(0, 0, 0);
    background: none;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    margin-bottom: .8rem;
    filter: blur(.4px);
    box-shadow: 2px 2px rgba(0,0,0,.1);
}

.record_btn:hover {
    box-shadow: none;
    background: rgba(255,255,255,.9);
    transform: scale(1.05);
    transition: .3s;
    border-color: rgba(0,0,0,.05);
    filter: blur(0px);
}

.record_btn:active {
    background: #DEDEDE;
}

.record_btn:after {
    content: '\E029';
}

.record_btn[disabled] {
    border: 2px solid #ccc;
}

.record_btn[disabled]:after {
    content: '\E02B';
    color: #ccc;
}

.record_btn[disabled]:active {
    background: none;
}

#seconds-counter {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.recording {
    animation: recording 2s infinite ease-in-out;
    position: relative;
}

.recording:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba( 0, 0, 0, 0.05 );
    animation: recording_before 2s infinite ease-in-out;
}

@keyframes recording {
    from {
        transform: scale(1.1);
    }

    50% {
        transform: none;
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes recording_before {
    80% {
        width: 130%;
        height: 130%;
        margin: -67%;
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.record_canvas {
    width: 60px;
    height: 100px;
    display: inline-block; 
}

.txt_btn {
    transition: 0.15s linear;
    animation: text_btn 0.3s ease-in-out;
}

.material-icons {
    font-size: 3rem;
}

/*general stylings*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');

body {
    background: #DEDEDE;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    outline: none;
}

/*flex formatting*/
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
}

/*DOM stylings*/
header {
    color: #DEDEDE;
    background: rgb(0, 0, 0);
    /*padding: .3rem 1rem;*/
    padding: 3.5vw;
}

.recorder {
    text-align: center;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    font-weight: 200;
}

a {
    color: #2C4C29;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 1.1rem;
    transition: .3s;
}

a:hover {
    color: #3D693A;
    transition: .3s;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    padding: .2rem;
}

input {
    font-family: 'Montserrat', sans-serif;
    padding: .2rem;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.4);
    background: rgba(0,0,0,.1);
    border-radius: 2px;
}

input:focus {
    background: whitesmoke;
}

input[type=submit] {
    margin-top: .5rem;
    cursor: pointer;
    padding: .6rem; 
    transition: .2s;
    border: 1px solid rgba(0,0,0,.7);  
    background: rgba(198,198,198,1);
}

input[type=submit]:hover {
    background: whitesmoke;
    border-color: rgba(0,0,0,.3);
    transition: .2s; 
}

.save-button {
    transition: .2s;
}

.save-button:hover {
    background: whitesmoke;
    border-color: rgba(0,0,0,.3);
    transition: .2s;
}

.page-title {
    font-size: 2rem;
}

.site-description {
    padding-bottom: 1.5vw;
}

.music-title, .creation-time {
    font-weight: 400;
}

.creation-time {
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    padding-bottom: .5rem;
}

.ui-link {
    margin-bottom: 1rem;
}

.searches-username {
    padding: 0 1rem;
}

.past-search-items {
    border: 1px solid rgba(0, 0, 0, .5);
    border-top: none;
    position: relative;
    padding: .3rem 1rem;
}

.past-search-links {
    margin-bottom: 3.5rem;
}

.past-search-links li {
    margin-bottom: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: .5rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
}

.delete-button {
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    transition: 0.3s;
}

.delete-button:hover {
    color: rgba(0, 0, 0, .7);
    transition: 0.3s;

    .past-search-items {
        background: blue;
    }
}

#modal {
    background: #DEDEDE;
    border: 1.6vw solid rgba(255,255,255,.17);
    border-radius: 2px;
    width: 80vw;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10rem 0 0 -40vw;
    box-shadow: .4rem .4rem .4rem;
}

#msg_box {
    margin-bottom: 5vw;
    line-height: 6.5vw;
}

.instructions {
    /*line-height: 1.5rem;*/
    border-top: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    width: 100vw;
    margin: 0 auto; 
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-bottom: 1.2vw;
    padding-top: 1.2vw;

}

.instruction-paragraph {
    font-size: 3.8vw;
    line-height: 5.5vw;
    padding-top: .3vw;
    padding-right: 3vw;
    padding-left: 3vw;
}

.form-positioner {
    width: 80vw;
    height: 20rem;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -10rem 0 0 -40vw;
}

.signup-form, .login-form {
    margin-top: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-error-box, .login-error-box {
    padding: 0 2rem; 
    padding-top: 1rem;
    text-align: center;
    color: red;
}

.audD-result-title {
    margin-top: -1rem;
    margin-bottom: -.6rem;
    text-align: left;
    font-weight: 500;
    border-bottom: .1rem solid rgba(0, 0, 0, .4);
    /*padding-bottom: .5rem;*/
    font-size: 1.3rem;
    /*line-height: 5.5vw;*/
    padding-top: .3vw;
    padding-bottom: .1rem;
}

.audD-error-message {
    border-top: .1rem solid rgba(0,0,0,.4);
    margin-top: -1.5rem;
    text-align: center;
    font-weight: 400;
    /*border-bottom: .1rem solid rgba(0, 0, 0, .1);*/
    /*padding-bottom: .5rem;*/
    font-size: 3.8vw;
    line-height: 5.5vw;
    padding-top: .3rem;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 1.2vw;
}
.sheet-music-message {
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 3.8vw;
    line-height: 5.5vw;
    padding-top: .3vw;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 1.2vw;
}

.api-results {
    /*margin-top: -2rem;*/
    width: 100vw;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 1.5vw;
    padding-top: 1.5vw;
}

.appender {
    font-size: 1.1rem;
}

.google-api-result-li {
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    padding: .6rem 0;
    margin-bottom: .3rem;
}

.save-button {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgba(0, 0, 0, .3);
    background: #DEDEDE;
    border-radius: 2px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.usage-details {
    line-height: 1rem;
    font-size: 3rem;
}

@media only screen and (min-width: 500px) {
    #msg_box {
        margin-bottom: 2.5vw;
        line-height: 5vw;
    }
    .instructions {
        width: 90vw;
    }
    .instruction-paragraph {
        font-size: 3vw;
        line-height: 4.5vw;
        padding-top: .2vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }
    .audD-result-title {
        /*margin-bottom: -2rem;*/
    }
    .form-positioner, #modal {
        height: 30rem;
        margin: -15rem 0 0 -40vw; 
    }
    input, .signup-form, .login-form {
        font-size: 4vw;
    }
    input[type=submit] {
        font-size: 3vw;
    }
    .signup-error-box, .login-error-box {
        font-size: 4vw;
        padding: 0 2rem; 
        padding-top: 3rem;
    }
}


/*large phone/tablet breakpoint*/
@media only screen and (min-width: 600px) {
    a, input, label, h2, h3, p {
        font-size: 1.8rem;
    }
    p {
        margin-top: .5rem;
    }
    input {
        padding: .3rem;
        font-size: 1.5rem;
    }
    header {
        padding: 2.8vw;
    }
    .page-title {
        font-size: 3.5rem;
    }
    .recorder {
        font-size: 1.5rem;
    }
    #msg_box {
        font-size: 1.8rem;
        margin-bottom: 1.6rem
    }
    .usage-details {
        line-height: 2.5rem;
    }
    .form-positioner, #modal {
        height: 35rem;
        margin: -17.5rem 0 0 -40vw;
    }
    .signup-form, .login-form {
        font-size: 1.5rem;
    }
    .signup-error-box, .login-error-box {
        font-size: 1.5rem;
        padding: 0 1rem;
        padding-top: 3rem; 
    }
    .authentication-text {
        font-size: 1.8rem;
        padding: .5rem;
    }
    .music-title {
        padding-top: .3rem;
    }
    .record_btn {
        background: whitesmoke;
        margin: 2rem;
        width: 40vw;
        height: 40vw;
        font-size: 25vw;
        margin-bottom: .8rem;
    }
    .past-search-links {
        margin-bottom: 5.5rem;
    }
    .material-icons {
        font-size: 5rem;
    }
    .save-button {
        padding: .5rem;
        font-size: 2rem;
    }
    .text_btn {
        line-height: 2rem;
    }
    .ui-link {
        padding: 0 .3rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .usage-details {
        font-size: 5rem;
    }
    .instructions {
        width: 100vw;
    }
    .instruction-paragraph {
        font-size: 2.7vw;
        line-height: 3.2vw;
        padding-top: 0vw;
        padding-bottom: 0vw;
        padding-right: 3vw;
        padding-left: 3vw;
        /*padding-right: 3vw;*/
        /*padding-left: 3vw;*/
    }
    .api-results {
        width: 100vw;
    }
    .appender {
        font-size: 1.3rem;
    }
    .audD-result-title {
        font-size: 1.9rem;
        /*line-height: 5.2vw;*/
        padding-top: 2vw;
        /*padding-bottom: 2vw;*/
    }
    .audD-error-message {
        /*margin-top: 2.5rem;*/
        font-size: 2.7vw;
        line-height: 3.2vw;
        /*padding-top: 0vw;*/
        padding-bottom: 0vw;
        padding-right: 3vw;
        padding-left: 3vw;
    }
    .sheet-music-message {
        font-size: 2.7vw;
        line-height: 3.2vw;
        padding-top: 0vw;
        padding-bottom: 0vw;
        padding-right: 3vw;
        padding-left: 3vw;
    }
}

/*@media only screen and (min-width: 750px) {
    .instructions {
        width: 90vw;
    }
    .instruction-paragraph {
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
}*/

@media only screen and (min-width: 750px) {
    .instructions {
        width: 95vw;
    }
    .instruction-paragraph {
        font-size: 2.5vw;
        line-height: 3vw;
    }
    .api-results {
        width: 95vw;
    }
    .audD-result-title {
        /*font-size: 2.5vw;*/
        /*line-height: 3vw;*/
    }
    .audD-error-message {
        font-size: 2.5vw;
        line-height: 3vw;
    }
    .sheet-music-message {
        font-size: 2.5vw;
        line-height: 3vw;
    }
}

@media only screen and (min-width: 800px) {
    .instructions {
        padding-top: 1.2vw;
        padding-bottom: 1.2vw;
        width: 90vw;
    }
    .instruction-paragraph {
        font-size: 2.2vw;
        /*line-height: 2.7vw;*/
    }
    .api-results {
        width: 90vw;
    }
    .audD-result-title {
        font-size: 1.8rem;
        /*margin-bottom: -1rem;*/
        /*line-height: 2.7vw;*/
        /*padding-bottom: 1.2vw;*/
    }
    .audD-error-message {
        /*margin-top: 1.4rem;*/
        font-size: 2.2vw;
        line-height: 2.7vw;
        padding-bottom: 1.2vw;
    }
    .sheet-music-message {
        font-size: 2.2vw;
        line-height: 2.7vw;
        padding-bottom: 1.2vw;
    }
    input[type=submit] {
        font-size: 1.4rem;
    }
}

/*larger tablets/tablets in landscape/small laptops and desktop computers*/
@media only screen and (min-width: 992px) {
    label, .authentication-text, #msg_box, h3, h2, p  {
        font-size: 2rem;
    }
    a {
        font-size: 1.8rem;
    }
    .record_btn {
        width: 30vw;
        height: 30vw;
        font-size: 20vw;
    }
    .material-icons {
        font-size: 6.5rem;
    }
    .past-search-links {
        margin-bottom: 6.5rem;
    }
    #msg_box {
        margin-bottom: 1rem;
        line-height: 4vw;  
    } 
    .instructions {
        width: 80vw;
    }
    .appender {
        font-size: 1.4rem;
    }
    .api-results {
        width: 80vw;
    }
    .signup-error-box, .login-error-box {
        padding-top: 2rem;
    }
}

/*any larger devices*/
@media only screen and (min-width: 1200px) {
    header {
        padding: 2vw;
    }
    .site-description {
        padding-bottom.5vw;
    }
    .record_btn {
        width: 20vw;
        height: 20vw;
        font-size: 15vw;
        margin-bottom: .5rem;
    }
    #modal {
        width: 70vw;
        height: 30rem;
        margin: -15rem 0 0 -35vw;
    }
    #msg_box {
        line-height: 2.5vw;
        padding: .6vw;
    }    
    .form-positioner {
        width: 70vw;
        height: 30rem;
        margin: -15rem 0 0 -35vw;
    }
    .usage-details {
        line-height: 2rem;
    }
    .instructions {
        width: 75vw;
    }
    .instruction-paragraph {
        font-size: 1.8vw;
        line-height: 2.4vw;
    }
    .api-results {
        /*margin-top: -2rem;*/
        width: 75vw;
    }
    .appender {
        font-size: 1.7rem;
    }
    .audD-result-title {
        padding-top: 0vw;
        font-size: 2rem;
        /*line-height: 2.4vw;*/
    }
    .audD-error-message {
        font-size: 1.8vw;
        line-height: 2.4vw;
        /*margin-top: 1.5rem;*/
    }
    .sheet-music-message {
        font-size: 1.8vw;
        line-height: 2.4vw;
    }
    .signup-error-box, .login-error-box {
        padding-top: 2rem;
    }
    /*.auth-links-region {
        border-radius: 4px;
        border: 2.5px solid #2C4C29;
        padding: 1rem 0;
        width: 30vw;
        background: whitesmoke;
        margin: 0 auto;
        margin-top: .5rem;
    }*/
}