/*@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto';

.record_btn {
    margin: 1rem;
    width: 50vw;
    height: 50vw;
    font-family: 'Material Icons';
    font-size: 25vw;
    color: rgba(0, 0, 0);
    background: none;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
}

.record_btn:active {
    background: #f5f5f5;
}

.record_btn:after {
    content: '\E029';
}

.record_btn[disabled] {
    border: 2px solid #ccc;
}

.record_btn[disabled]:after {
    content: '\E02B';
    color: #ccc;
}

.record_btn[disabled]:active {
    background: none;
}

.recording {
    animation: recording 2s infinite ease-in-out;
    position: relative;
}

.recording:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba( 0, 0, 0, 0.05 );
    animation: recording_before 2s infinite ease-in-out;
}

@keyframes recording {
    from {
        transform: scale( 1.1 );
    }
    50% {
        transform: none;
    }

    to {
        transform: scale( 1.1 );
    }
}

@keyframes recording_before {
    80% {
        width: 200px;
        height: 200px;
        margin: -100px;
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.record_canvas {
    width: 60px;
    height: 100px;
    display: inline-block;
    
}

.txt_btn {
    transition: 0.15s linear;
    animation: text_btn 0.3s ease-in-out;
}*/