/*record button stylings*/

@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto';

.record_btn {
    margin: 1rem;
    width: 50vw;
    height: 50vw;
    font-family: 'Material Icons';
    font-size: 25vw;
    color: rgba(0, 0, 0);
    background: none;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
}

.record_btn:active {
    background: #f5f5f5;
}

.record_btn:after {
    content: '\E029';
}

.record_btn[disabled] {
    border: 2px solid #ccc;
}

.record_btn[disabled]:after {
    content: '\E02B';
    color: #ccc;
}

.record_btn[disabled]:active {
    background: none;
}

.recording:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba( 0, 0, 0, 0.05 );
    animation: recording_before 2s infinite ease-in-out;
}

.record_canvas {
    width: 60px;
    height: 100px;
    display: inline-block;
    
}

.txt_btn {
    transition: 0.15s linear;
    animation: text_btn 0.3s ease-in-out;
}

/*general stylings*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  background: #fff;
  font-family: 'Libre Baskerville', serif;
  position: relative;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    outline: 0;
}

/*flex formatting*/
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
}

/*DOM stylings*/
header {
    padding: .3rem 1rem;
}

.recorder {
    text-align: center;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

.past-search-region {

}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    word-wrap: break-word;
    font-size: 1.1rem;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    padding: .2rem;
}

input {
    padding: .2rem;
    margin-bottom: 10px;
    border: 1px solid rgb(191, 191, 191);
    background: rgb(255, 255, 255);
    border-radius: 2px;
}

input[type=submit] {
    cursor: pointer;
}

.page-title {
    font-size: 2rem;
}

.ui-link {
    margin-bottom: 1rem;
}

.searches-username {
    padding: 0 1rem;
}

.past-search-items {
    border: 1px solid rgba(0, 0, 0, .5);
    border-top: none;
    position: relative;
    padding: .3rem 1rem;
}

.past-search-links:last-child {
    padding-bottom: 1rem;
}

.past-search-links {
    margin-bottom: 3vh;
}

.past-search-links li {
    margin-bottom: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-button {
    cursor: pointer;
    border: none;
    font-size: 10vw;
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    padding-right: .5rem;
}

#modal {
    background: rgb(255, 255, 255);
    border-radius: 2px;
    width: 80vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25vh 0 0 -40vw;
}

.form-positioner {
    width: 80vw;
    height: 50vh;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -25vh 0 0 -40vw;
}

.signup-form, .login-form {
    margin-top: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-error-box, .login-error-box {
    padding-top: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, .5);
}

.api-results {
    padding: 0 1rem;
}

.save-button {
    border: 1px solid black;
    background: white;
    border-radius: 2px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/*large phone/tablet breakpoint*/
@media only screen and (min-width: 600px) {
    a, input, label, h3, h2 {
        font-size: 1.5rem;
    }
    input {
        padding: .3rem;
    }
    .page-title {
        font-size: 3.5rem;
    }
    .recorder {
        font-size: 1.5rem;
    }
    #msg_box {
        font-size: 1.8rem;
        margin-bottom: .3rem
    }
    .signup-error-box, .login-error-box {
        font-size: 1.5rem;
        padding-top: 3.5rem;
    }
    .authentication-text {
        padding: .5rem;
    }
    .music-title {
        padding-top: .3rem;
    }
    .record_btn {
        margin: 2rem;
        width: 40vw;
        height: 40vw;
        font-size: 25vw;
    }
    .past-search-links {
        margin-bottom: 4.5rem;
    }
    .delete-button {
        font-size: 4rem;
        padding-right: 1rem;
    }
    .save-button {
        padding: .5rem;
        font-size: 2rem;
    }
    .google-api-result-li {
        padding-bottom: .3rem;
    }
    .text_btn {
        line-height: 2rem;
    }
    .ui-link {
        padding: 0 .5rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

/*larger tablets/tablets in landscape/small laptops and desktop computers*/
@media only screen and (min-width: 992px) {
    label, .authentication-text, #msg_box, h3, h2  {
        font-size: 2rem;
    }
    a {
        font-size: 1.8rem;
    }
    .record_btn {
        width: 30vw;
        height: 30vw;
        font-size: 20vw;
    }
}

/*any larger devices*/
@media only screen and (min-width: 1200px) {
    .record_btn {
        width: 20vw;
        height: 20vw;
        font-size: 15vw;
    }
    #modal {
        width: 40vw;
        height: 40vh;
        margin: -20vh 0 0 -20vw;
    }
}






