@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto';

body {
  background: #fff;
  font-family: 'Roboto Light';
  position: relative;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    outline: none;
}

.recorder_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.recorder {
    display: inline-block;
    text-align: center;
    width: 500px;
    max-width: 100%;
}

.record_btn {
    width: 100px;
    height: 100px;
    font-family: 'Material Icons';
    font-size: 48px;
    color: rgba(0, 0, 0);
    background: none;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
}

.record_btn:hover {
    transition: 0.15s linear;
    transform: scale( 1.05 );
}

.record_btn:active {
    background: #f5f5f5;
}

.record_btn:after {
    content: '\E029';
}

.record_btn[disabled] {
    border: 2px solid #ccc;
}

.record_btn[disabled]:after {
    content: '\E02B';
    color: #ccc;
}

.record_btn[disabled]:hover {
    transition: 0.15s linear;
    transform: none;
}

.record_btn[disabled]:active {
    background: none;
}

.recording {
    animation: recording 2s infinite ease-in-out;
    position: relative;
}

.recording:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba( 0, 0, 0, 0.05 );
    animation: recording_before 2s infinite ease-in-out;
}

@keyframes recording {
    from {
        transform: scale( 1.1 );
    }
    50% {
        transform: none;
    }

    to {
        transform: scale( 1.1 );
    }
}

@keyframes recording_before {
    80% {
        width: 200px;
        height: 200px;
        margin: -100px;
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.record_canvas {
    width: 60px;
    height: 100px;
    display: inline-block;
    
}

.txt_btn {
    color: #000;
    text-decoration: none;
    transition: 0.15s linear;
    animation: text_btn 0.3s ease-in-out;
}




/*my styles*/

a {
    text-decoration: none;
}

a:hover {
    
}

#modal {
    background: rgb(255, 255, 255);
    width: 600px;
    height: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -300px;
    z-index: 9999;
}

.form-positioner {
    width: 600px;
    height: 350px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -300px;
}

.login-form {
    position: absolute;
    padding: 20px;
    width: 300px;
    height: 300px;
    top: 75%;
    left: 50%;
    margin: -150px 0 0 -150px;
}

.signup-form {
    position: absolute;
    padding: 20px;
    width: 300px;
    height: 300px;
    top: 75%;
    left: 50%;
    margin: -150px 0 0 -150px;
}

.page-title {
    padding: 20px;
}

input {
    margin-bottom: 10px;
}





